build
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*~.nib
.gitattributes
.vs
.DS_Store
log/
_RUNTIME_/log/
_RUNTIME_/Documents/deploy/
DEADJOE
UserInterfaceState.xcuserstate
Browse.VC.db
*.so
*.a
*.ncb
platform/MacOS/MTEngineSDLDummyApp.xcodeproj/project.xcworkspace/xcuserdata/
platform/MacOS/MTEngineSDLDummyApp.xcodeproj/project.xcworkspace/xcshareddata/
platform/MacOS/MTEngineSDLDummyApp.xcodeproj/project.xcworkspace/xcshareddata/MTEngineSDL.xccheckout
platform/MacOS/MTEngineSDLDummyApp.xcodeproj/.idea/
platform/MacOS/DerivedData/
platform/MacOS/build/
platform/Windows/.vs/
platform/Windows/bin/
platform/Windows/MTEngineSDLDummyApp/x64/
platform/Windows/MTEngineSDLDummyApp/Win32/
platform/Windows/MTEngineSDLDummyApp/ARM64/
*.vcxproj.user
tools/DeployMaker_v1.0/Debug/
bmfont2slrfont/Debug/
Debug/
core.*
core
*~
tests/results/
.worktrees/
.superpowers/
.claude/
/build-macos/
