build
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*~.nib
.gitattributes
.vs
.DS_Store
log/
_RUNTIME_/log/
_RUNTIME_/Documents/deploy/
DEADJOE
UserInterfaceState.xcuserstate
*.so
*.a
*.ncb
platform/MacOS/MTEngineSDLDummyApp.xcodeproj/project.xcworkspace/xcuserdata/mars.xcuserdatad/xcdebugger/
platform/MacOS/MTEngineSDLDummyApp.xcodeproj/project.xcworkspace/xcshareddata/
platform/MacOS/MTEngineSDLDummyApp.xcodeproj/project.xcworkspace/xcshareddata/MTEngineSDL.xccheckout
platform/MacOS/MTEngineSDLDummyApp/.idea/
platform/MacOS/DerivedData/
platform/Windows/.vs/
platform/Windows/bin/
platform/Windows/MTEngineSDLDummyApp/x64/
platform/Windows/MTEngineSDLDummyApp/Win32/
tools/DeployMaker_v1.0/Debug/
bmfont2slrfont/Debug/
Debug/
core.*
core
*~
